<app-header></app-header>
<div class="container-fluid bg" style="text-align: center; background-image: url(assets/bg.jpg);">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: rgb(215, 248, 245);height: 500px;margin-top: 40px;margin-bottom: 40px;">
      <h1 >Switch Case</h1><br><br>

  <ul *ngFor ="let employee of company">
  <li *ngIf="employee.company ==='Ensono'" class="text-success">{{ employee.name }} ({{ employee.company }})
  </li>
  <li *ngIf="employee.company === 'Dista'" class="text-primary">{{ employee.name }} ({{ employee.company }})
  </li>
  <li *ngIf="employee.company === 'Wipro'" class="text-danger">{{ employee.name }} ({{ employee.company }})
  </li>
  <li *ngIf="employee.company !== 'Infosis' && employee.company !== 'Ensono' && employee.company !== 'Dista'" class="text-warning">
    {{ employee.name }} ({{ employee.company }})
  </li>
</ul>
  </div>
<div class="col-md-4"></div>

</div>
</div>
<app-footer></app-footer>